// Color palletes
$text-blue: #2B7DB6;
$main-blue: #004B79;
$text-gray: #4A4A4A;
$button-color: #ED1651;
$white: #ffffff;

// Spacing
$sm-size: 1.6rem;
$m-size: 3.2rem;
$s-size: 1rem;

// Screen Sizes and breakpoints
$phone-screen: 320px;
$phone-plus-screen: 375px;
$tablet-screen: 768px;
$desktop-screen: 1024px;

