.textinput {
  margin-top: 5rem;

  input {
    border: 0;
    box-sizing: content-box;
    background: none;
    width: 100%;
    color: $text-blue;
    outline: none;
    border-bottom: 0.2rem $main-color solid;
    font-size: 1.6rem;
    padding: .8rem 0 .8rem .2rem;
  
    &::-webkit-input-placeholder {
      color: $text-blue;
    }
    
    &:focus {
      border-bottom: 0.01rem $text-blue solid;
    }
  }

  textarea {
    margin-top: 3rem;
    padding: $sm-size;
    color: $text-blue;
    resize: none;
    border: 0.1rem $light-gray solid;
    border-radius: .3rem;
    width: calc(100% - 2 * 1.6rem);    
  }

  .textinput__label {
    color: $main-color;
    font-size: 1.4rem;
    display: block;
  }

  .error {
    color: red;
    text-align: left;
    font-style: italic;

    &::before {
      content: '*'
    }
  }

  .has__error {
    &-input {
      border-bottom: 0.1rem red solid;
    }

    &-textarea {
      border: 0.1rem red solid;
    }
  }
}
